body {
    background: #303030; /* fallback for old browsers */
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgb(53, 53, 53) 0%, rgb(27, 27, 27) 50%);
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

header button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

header button:hover {
    background-color: #84e298;
    color: black;
}

/* Configuração da grade principal */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Lista ocupa mais espaço */
    gap: 20px; /* Espaço entre as colunas */
    height: 100vh; /* Altura total da viewport */
    padding: 20px;
    box-sizing: border-box;
}

#formularios {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite rolagem se o conteúdo for grande */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas internas */
    gap: 20px; /* Espaço entre os campos dentro do formulário */
    color: #fff;
}

#lista {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite rolagem na lista de clientes */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

form input, form select, form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #303030;
    color: #fff;
}

form button {
    padding: 10px;
    background-color: #218037;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #84e298;
    color: black;
}

form button[type="submit"] {
    width: auto; /* Ajuste a largura para não ocupar 100% */
    max-width: 200px; /* Defina um tamanho máximo, se necessário */
    transition: background-color 0.3s, color 0.3s;
}

#clientsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff;
    border-radius: 2%;
}

#clientsTable th, #clientsTable td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

#clientsTable th {
    background-color: #1f1e1e; /* fallback for old browsers */
}

#clientsTable tbody tr:nth-child(even) {
    background-color: #272727;
}

/* Estilo para os botões na tabela de clientes */
button.action-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
    transition: background-color 0.3s, color 0.3s;
}

/* Botão Editar */
button.edit-button {
    background-color: #007bff; /* Azul */
}

button.edit-button:hover {
    background-color: #92c6ff; /* Azul escuro */
    color: black;
}

/* Botão Excluir */
button.delete-button {
    background-color: #ff0019; /* Vermelho */
}

button.delete-button:hover {
    background-color: #ffadb6; /* Vermelho escuro */
    color: black;
}

p{
    font-size: x-small;
    color: #c82333;
}
